{% extends "base.html" %} {% block content %}

<div class="container text-center" id="main-container">
    <div>

        <!--uncomment if you want to use getUserMedia to activate webcam -->
          <!--<canvas id="canvasOutput"></canvas> -->
        <!--  <video autoplay="true" id="videoElement"> </video> -->

         <!-- comment out if you want to use getUserMedia to activate webcam -->
         <img src="{{ url_for('object_detection_blueprint.activate_camera') }}" width="100%">
    </div>


</div>

{% endblock %}